body{
  background-color: #D0E0C0;
}

#main{
  width: 960px;
  margin: 40px auto;
  padding: 40px 80px;
  border: green 1px solid;
  background-color: white;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  width: 120px;
  height: 35px;
  padding: 10px;
  font-size: 20px;
}

.btn:active{
  color: silver;
}

.btn-submit{
  background-color: white;
}

.btn-reset{
  background-color: red;
}


